.node_list {
  border: 1px solid black;
}

.node_item {
  border-bottom: 1px solid black;
  padding: 8px;
}

.node_item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.node_item:last-child {
  border-bottom: none;
}
